@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&family=Pacifico&display=swap');
@import url(fontawesome-all.min.css);

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFDF6;
}

.add_padding{
    padding: 0 10%;
    line-height: 2;
}

header {
    background-color: #FFFDF6;
    color: #bf1b68;
    padding: 1% 1%;
    text-align: center;
    font-family: 'Pacifico', cursive;
	position: relative;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #4a697d;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.border_hover:hover {
    color: #194c6e; /* Adjust the color and thickness as needed */
}

.border_hover_article {
    text-decoration: none; 
    color: #4a697d; 
    font-weight: 600;
}
.border_hover_article:hover {
    color: #194c6e; /* Adjust the color and thickness as needed */
}


h1, h2 {
    font-family: 'Pacifico', cursive;
    color: #bf1b68;
}

section {
    margin: 20px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 40px 0;
    bottom: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.calendar-button-container {
    margin: 20px;
    text-align: center; /* Helps with inline elements */
}


button.qxCTlb {
    font-size: 16px !important; /* Change the font size as needed */
    font-family: 'Open Sans', sans-serif; !important; /* Change the font family as needed */
   padding: 15px;
   margin-bottom: 10px;
}

img, iframe{
padding: 12px;}

#Classes > p {
margin-left: 30px;
margin-right: 30px;
line-height: 2}

.fotos img {
    width: 300px; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    border-top-left-radius: 50% 30%; /* Set the top left corner to be elliptical */
    border-top-right-radius: 50% 30%; /* Set the top right corner to be elliptical */
}

@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }
    nav ul {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    #Resources {
        padding: 2% 5%;
        flex-direction: column;
        align-items: center;
    }
    #Resources > div {
        flex: 1;
        margin-bottom: 20px;
        width: 100%;
    }
}